html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: transparent;
  font-size: 24px;
  color: #d6ff00;
  font-weight: bold;
  height: 40px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 12s linear infinite;
  line-height: 40px;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@media (max-width: 768px) {
  .marquee {
    font-size: 18px;
    height: 30px;
  }

  .marquee span {
    line-height: 30px;
  }
}

.floaties-container {
  background-image: url('https://res.cloudinary.com/donsephuh/image/upload/v1752662668/__1_egtolj.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 30px;
}

.floatie {
  width: 90vw;
  max-width: 300px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ссылки на картинки-надувашки */
#floatie1 { background-image: url('https://res.cloudinary.com/donsephuh/image/upload/v1752662519/Group_1_vdjpsd.png'); }
#floatie2 { background-image: url('https://res.cloudinary.com/donsephuh/image/upload/v1752662519/Group_2_ymzeoy.png'); }
#floatie3 { background-image: url('https://res.cloudinary.com/donsephuh/image/upload/v1752662519/Group_3_zgemfp.png'); }
#floatie4 { background-image: url('https://res.cloudinary.com/donsephuh/image/upload/v1752662519/Group_6_hncp3a.png'); }
#floatie5 { background-image: url('https://res.cloudinary.com/donsephuh/image/upload/v1752662519/Group_5_fiahfr.png'); }
#floatie6 { background-image: url('https://res.cloudinary.com/donsephuh/image/upload/v1752662520/Group_7_iqglce.png'); }

footer {
  background: black;
  padding: 10px 0;
  text-align: center;
}

.footer-text {
  color: white;
  font-size: 12px;
}

